RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

RewriteEngine on
RewriteCond $1 !^(index\.php|assets|picture|user_guide|robots\.txt)
RewriteRule ^(.*)$ something1/something2/index.php?/$1 [L]